@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

input {
  padding: .7rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  border: none;
  border: 2px solid rgba(128, 128, 128, 0.221);
}

label {
  text-transform: uppercase;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

#left {
  width: 30%;
  background-image: url('/img/bg-main.png');
}

#right {
  width: 70%;
  margin: auto 0;
  text-align: center;
}

form {
  justify-content: center;
  text-align: left;
  display: grid;
  gap: .5rem;
  width: 100%;
}

#third-row {
  display: flex;
  gap: 3rem;
}


#expiration > input {
  width: 50%
}

#exp-labels {
  display: flex;
  width: 25%;
  gap: 1rem;
  margin-top: .5rem;
}

#cvc {
  width: 50%;
}

#cvc-labels {
  display: flex;
  margin-top: .5rem;
}

button {
  background-color: black;
  color: white;
  height: 3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}