@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* :root { box-sizing: border-box; }
*, *::before, *::after, *::marker { box-sizing: inherit; } */

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

input {
  padding: .7rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  border: none;
  border: 2px solid rgba(128, 128, 128, 0.221);
}

label {
  text-transform: uppercase;
}

img {
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

#front {
  min-width: 320px;
  width: 70%;
  height: auto;
  top: 30%;
  left: 40%;
}

#back {
  min-width: 320px;
  height: auto;
  width: 70%;
  top: 35%;
  left: 70%;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

#left {
  width: 43%;
  background-image: url('/img/bg-main.png');
}

#right {
 display: grid;
  font-size: .8rem;
 width: 100%;
 align-content: center;
 justify-content: center;
  padding-left: 5%;
}

form {
  box-sizing: content-box;
  text-align: left;
}

.rows {
  display: grid;
  grid-column: 1 / -1;
}

#last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust space between `exp` and `cvc` */
  gap: 10px; /* This sets a gap between the two elements */
}

#cvc {
  display: flex;
  flex-direction: column;
}

button {
  background-color: black;
  color: white;
  height: 3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
}

#last-row {
  display: flex;
  justify-content: space-between; /* This will space out the child divs */
}

#exp, #cvc {
  flex: 1; /* This makes each child take up equal space */
}

#exp {
  gap: 3rem;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* If you want the MM and YY inputs side by side */
}

#exp-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This ensures the MM and YY inputs are on the same line */
  gap: 1rem;
  width: 20%;
}

/* Reset the margin for the last input field to align properly */
#exp-labels input:last-child {
  margin-right: 0;
}

@media (max-width: 1155px) {
  img {
      opacity: 0.4;
  }
}

@media (max-width: 1300px) {
  #back {
      opacity: 0.4;
  }
}
